language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
after_success:
  - julia -e 'using Pkg; Pkg.add("Documenter"); Pkg.add("Coverage")'
  - julia -e 'import IntervalTrees; cd(dirname(dirname(pathof(IntervalTrees)))); include(joinpath("docs", "make.jl"))'
  - julia -e 'using Coverage; import IntervalTrees; cd(dirname(dirname(pathof(IntervalTrees)))); Codecov.submit(process_folder())'
